body {
  font-family: sans-serif;
}
.container {
  text-align: right;
  margin: 50px;
}
.search-box {
  border-radius: 5px;
  box-shadow: none;
  border: 1px #e1e1e1 solid;
  height: 40px;
  font-size: 18px;
  width: 246px;
  padding: 0 0 0 5px;
  color: #a1a1a1;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: 50px;
}
.wrapper > div {
  background: #eee;
}
.img {
  max-width: 100%;
  height: auto;
}
.center {
  text-align: center;
}
.meter {
  height: 20px;
  position: relative;
  padding: 10px;
}
.meter > span {
  display: block;
  height: 100%;
  border-radius: 8px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  position: relative;
  overflow: hidden;
}
